<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.login.mapper.LoginMapper">

    <select id="selectLoginCnt" parameterType="com.example.ytaxi.develop.login.dto.LoginDto" resultType="int">
        SELECT COUNT(*)
          FROM TBL_ROLE A
         WHERE A.LOGIN_ID = #{loginId}
        <if test="role != null and role != ''">
            AND A.ROLE = #{role}
        </if>
    </select>

    <select id="selectLoginDetailInfo" parameterType="com.example.ytaxi.develop.login.dto.LoginDto" resultType="com.example.ytaxi.develop.login.dto.LoginDto">
        SELECT *
        FROM TBL_ROLE A
        WHERE A.LOGIN_ID = #{loginId}
        <if test="role != null and role != ''">
            AND A.ROLE = #{role}
        </if>
    </select>

    <select id="selectLoginUserInfo" parameterType="String" resultType="com.example.ytaxi.develop.login.dto.LoginUserInfoDto">
        SELECT user_nm
            ,user_phone
            ,user_zipcode
            ,user_addr
            ,user_detail_addr
            ,created_dt
            ,created_id
            ,updated_dt
            ,updated_id
            ,gender
            ,user_birth
            ,user_password
            ,refreshtoken
            ,user_login_id
            ,user_id
         FROM TBL_USER A
        WHERE A.user_login_id = #{userId}
    </select>

    <select id="selectLoginDriverInfo" parameterType="String" resultType="com.example.ytaxi.develop.login.dto.LoginDriverInfoDto">
        SELECT 'D' AS ROLE
             , A.DRIVER_ID
             , A.DRIVER_NM
             , A.DRIVER_PHONE
             , A.BUSINESS_NUMBER
             , A.TAXI_NUMBER
             , A.CREATED_DT
             , A.CREATED_ID
             , A.UPDATED_DT
             , A.UPDATED_ID
         FROM TBL_DRIVER A
        WHERE A.DRIVER_ID = #{driverId}
    </select>

</mapper>