<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.login.mapper.LoginMapper">

    <select id="selectLoginCnt" parameterType="com.example.ytaxi.develop.login.dto.LoginDto" resultType="int">
        SELECT COUNT(*)
          FROM TBL_LOGIN A
         WHERE A.LOGIN_ID = #{loginId}
           AND A.PW = #{pw}
        <if test="role != null and role != ''">
            AND A.ROLE = #{role}
        </if>
    </select>

    <select id="selectLoginDetailInfo" parameterType="com.example.ytaxi.develop.login.dto.LoginDto" resultType="com.example.ytaxi.develop.login.dto.LoginDto">
        SELECT *
        FROM TBL_LOGIN A
        WHERE A.LOGIN_ID = #{loginId}
        <if test="pw != null and pw != ''">
            AND A.PW = #{pw}
        </if>
        <if test="role != null and role != ''">
            AND A.ROLE = #{role}
        </if>
    </select>

    <select id="selectLoginUserInfo" parameterType="String" resultType="com.example.ytaxi.develop.login.dto.LoginUserInfoDto">
        SELECT 'U' AS ROLE
             , A.USER_ID
             , A.USER_NM
             , A.USER_PHONE
             , A.USER_ZIPCODE
             , A.USER_ADDR
             , A.USER_DETAIL_ADDR
             , A.CREATED_DT
             , A.CREATED_ID
             , A.UPDATED_DT
             , A.UPDATED_ID
         FROM TBL_USER A
        WHERE A.USER_ID = #{userId}
    </select>

    <select id="selectLoginDriverInfo" parameterType="String" resultType="com.example.ytaxi.develop.login.dto.LoginDriverInfoDto">
        SELECT 'D' AS ROLE
             , A.DRIVER_ID
             , A.DRIVER_NM
             , A.DRIVER_PHONE
             , A.BUSINESS_NUMBER
             , A.TAXI_NUMBER
             , A.CREATED_DT
             , A.CREATED_ID
             , A.UPDATED_DT
             , A.UPDATED_ID
         FROM TBL_DRIVER A
        WHERE A.DRIVER_ID = #{driverId}
    </select>

</mapper>