<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.join.mapper.joinMapper">
    <insert id="USER_ADD" parameterType="com.example.ytaxi.develop.join.dto.JoinDTO">
        INSERT INTO TBL_USER
            (
                 user_id,
                 user_login_id,
                 user_password,
                 user_nm,
                 user_zipcode,
                 user_addr,
                 user_detail_addr,
                 user_birth,
                 gender,
                 user_phone,
                 created_dt,
                 created_id,
                 updated_dt,
                 updated_id
             )
        VALUES
            (
                 CONCAT(#{joinType}, LPAD(TO_CHAR(nextval('user_seq')), 6, '0')),
                 #{userLoginId},
                 #{userPwd},
                 #{userNm},
                 #{userZipCode, jdbcType=VARCHAR},
                 #{userAddress, jdbcType=VARCHAR},
                 #{userSubAddress, jdbcType=VARCHAR},
                 #{userBirth, jdbcType=VARCHAR},
                 #{userGender, jdbcType=VARCHAR},
                 #{userPhone},
                 NOW(),
                 #{created_id},
                 NOW(),
                 #{updated_id}
             )
    </insert>
</mapper>
